[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Gg]ameBuild/
[Ll]ogs/
[Aa]ssets/[Ss]aves/
![Aa]ssets/**/*.meta
[Ss]aves/
[Ss]aves.meta
RigidStack_clone*/
.vs/
.gradle/
ExportedObj/
.consulo/
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
crashlytics-build.properties
*.RS